openpyxl
absl-py==0.2.0
astor==0.6.2
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bleach==1.5.0
cloudpickle==0.5.3
cycler==0.10.0
dask==0.17.5
decorator==4.3.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.11.0
h5py==2.7.1
html5lib==0.9999999
imgaug==0.2.5
imutils==0.4.6
Keras==2.1.6
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
mock==2.0.0
networkx==2.1
numpy==1.14.3
opencv-python==3.4.0.12
pbr==4.0.2
Pillow==5.1.0
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
subprocess32==3.2.7
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
toolz==0.9.0
Werkzeug==0.14.1
